* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px=1rem;
}

body {
  font-family: "Poppins", sans-serif;
}

p {
  margin-top: 2rem;
  font-size: 1.2rem;
}

.container {
  width: 35rem;
  background-color: #eef5ff;
  margin: 3rem auto;
  border-radius: 15px;
  padding: 1.5rem;
}

/****** Date and Time ********/

.date-hour {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

/****** Name ********/

.header__name {
  font-size: 1.8rem;
  font-weight: 600;
}

.name__text {
  font-size: 1.8rem;
  font-weight: 600;
  border: none;
  background-color: #eef5ff;
  color: #000;
}

/****** Input ********/

.form__text {
  font-size: 1.3rem;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  margin-top: 0.5rem;
  width: 32rem;
}

/****** Category Buttons ********/

.form__radio {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.radio__buttons {
  border: 1px solid transparent;
  display: flex;
  width: 15rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: #b4d4ff;
  align-items: center;
  cursor: pointer;
}

input[type="radio"],
[type="checkbox"] {
  appearance: none;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  background-color: #fff;
  border: 2px solid #fff;
}

input[name="personal"] {
  outline: solid 1px #fc819e;
}

input[name="personal"]:hover {
  background-color: #fc819e;
}

input[name="personal"]:checked {
  background-color: #fc819e;
}

input[name="business"] {
  outline: solid 1px #8b93ff;
}

input[name="business"]:hover {
  background-color: #8b93ff;
}

input[name="business"]:checked {
  background-color: #8b93ff;
}

.radio__title {
  padding-left: 10px;
}

/****** Submit button ********/

.button__submit {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.8rem;
  border-radius: 5px;
  margin-top: 1.5rem;
  width: 32rem;
  background-color: #86b6f6;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button__submit:hover {
  background-color: #176b87;
}

/****** Tasks ********/

.tasks__header {
  margin-top: 1rem;
}

.todo__task {
  display: flex;
  margin-top: 1rem;
  background-color: #86b6f6;
  border-radius: 5px;
  padding: 1rem;
  align-items: center;
}

.todo__task label {
  display: flex;
  margin-right: 1rem;
  cursor: pointer;
}

.todo__content input {
  font-size: 1.2rem;
  border: none;
  background-color: #86b6f6;
  margin-right: 8rem;
}

.edit,
.delete {
  font-size: 0.9rem;
  padding: 3px;
  color: #fff;
  border-radius: 5px;
  border: 1px solid;
  cursor: pointer;
}

.edit {
  background-color: #009e60;
  margin-right: 0.5rem;
}

.delete {
  background-color: #de3163;
}

/* .todo__tasks,
.tasks {
  margin: 1rem 0;
}

.todo__tasks,
.todo__task {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  background-color: #b4d4ff;
}

.todo__task label {
  display: block;
  margin-right: 1rem;
  cursor: pointer;
}

.todo__task,
.todo__content {
  flex: 1 1 0%;
} */
